*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: bisque;
}
.content{
    width: 800px;
    height: 100vh;
    margin: 0px auto;
    background-color: white;
}
.on{
    width:800px;
    height: 300px;
    background-color: aqua;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}