*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
     background-color:#fff;

}
.nav{
    width: 100%;
    height: 50px;
    background-color: blueviolet;

}
.nav ol{
        height:50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
}
.nav ol li{
    list-style-type: none;
}
.nav ol li a{
    text-decoration: none;
    color:white;
}
.container2{
    width: 500px;
    margin: 0px auto;
  
    
}
.contain{
  width: 400px;
  margin: 0px auto;
}
.img img{
    width: 600px;
    height:300px;
    margin-top: 20px
}
.para p{
    margin-top: 10px;
    color: purple;
    font-weight: 300;
}
.content h3{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content p{
    margin-bottom: 20px;
}


