*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color:black;
}
.container{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5%;
   
}
.div p{
    height: 50px;
    color: white;
    background-color: purple;
    font-size: 30px;
    padding: 10px 20px;
    margin-bottom: 10px;
    text-align: center;

}
.chat p{
    padding: 20px 30px;
    font-size: 20px;
    text-align: center;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input input{
    width: 300px;
    padding: 14px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
}
.input1 {
    width:  300px;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background: #f8f8f8;
    font-size: 16px;
}
.btn{
    margin-top: 30px;
    width:  300px;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background: #f8f8f8;
    font-size: 16px;
   background-color: purple;
   color:white;
   text-align: center;
}






