*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    height:100vh;
    margin: 0px auto;
    background-color: aqua;
}
.on{
    width: 400px;
    background-color: white;
    margin-top: 50px;
   
}
.inside{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.img img{
    width: 50px;
}