body{
    width: 100%;
    height: 100vh;
    box-sizing: content-box;
}
.container{
    width: 800px;
    height: 100vh;
    background-color: green;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    color: white;
}
.main h1{
    font-size: 60px;
}
.main p{
   border:none;
    background-color: aliceblue;
    color: black;
    padding: 10px 30px;
    text-align: center;

}
.main1 h4{
   background-color: aliceblue;
   color: black;
   padding: 10px 250px;
   text-align: center;
}
