*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.container{
    width: 800px;
    height: 100vh;
    background-color: white;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    height: 50px;
    color:whitesmoke;
}
.first h4{
    font-size: 20px;
}
.second h1{
    letter-spacing: 2px;
}
.third h5{
    font-size: 20px;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
 
  
}
.on{
    border: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.on img{
    width: 300px;
}
.on1{
    display: flex;
    justify-content: space-around;
    

}
.on1 h5{
    font-size: 25px;

}
.view a{
    text-decoration: none;
    position: relative;
    top: 30px;
    right: 20px;
    color:blue;
    border: 2px solid blue;
    padding: 2px 5px;
}
.para p{
    margin-top: 20px;
    padding: 2px 1px;

}
.btn h6{
    text-align: center;
    margin-top: 20px;
    border: 2px solid blue;
    padding: 8px 2px;
    border-radius: 20px;
    color:white;
    background-color: blue;
    font-size: 20px;
    text-transform: capitalize;
}
