*{
    margin:0;
    padding:0;
    box-sizing: content-box;
    background-image: url(/assets/back.jpg);
}
.container{
    width: 100%;
    height: 100vh;
    
}
.head{
    width: 100%;
    height: 300px;
  
    
}
.navlist{
     /* height: 40px; */
 
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:gold;
    padding: 200px;
   
   
}
.navlist  h1{

}
.nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    margin: 20px 20px;
    
}
