*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.container{
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    background-color: lightgray;
}
.content{
   text-align: center;
   padding: 60px 30px;
}
.content h6{
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 20px;

    
}
.content h1{
    color:blue;
    font-size: 40px;
    margin-bottom: 10px;
}
.content p{
    margin: 20px 30px;
}
 .main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
 } 
 .img{
    width: 300px;
    text-align: center;
    background-color: blue;
    height: 400px;
    
 }
 .img h3{
    color: aliceblue;
 }

 .main img{
    width: 50px;
    border-radius: 50%;
    
 }
 .fields{
    display: flex;
    justify-content: center;
   flex-direction: column;
 }
  