body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dc143c;
    margin: 0px auto;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    background-color: whitesmoke;
    position: absolute;
    width: 600px;
    height: 300px;
}
.small1{
   position: relative;
   top: -30px;
   left: 20px;
   right:0;
   color:#dc143c;

   border-radius: 50%;
   padding: 20px 20px;
   background-color: sandybrown;
   
}
.small2{
    padding: 30px 30px;
    font-size: 20px;
  
}
.small3{
    position: relative;
    top:-90px;
    right: 20px;
    padding: 10px 10px;
     border-radius: 50%;
     background-color: #dc143c;
     color: white;


}