*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.container{
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    background-color: antiquewhite;
}
.content{
    height: 50px;

    display: flex;
    justify-content: space-between;
   align-items: center;
   background-color: black;
   color:white;
   
}
.nav h3{
    margin-left: 30px;
    font-size: 30px;


}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    padding: 0px 20px;
}
.icon{
    display: flex;
    justify-content: space-around;
}
.icon li{
    list-style-type: none;

}
.icon li i{
    padding: 0px 10px;
    margin-right: 20px;
}
.main{
    background-image: url("/assets/animal-cat-adorable-20787.jpg");
    background-position: center;
    background-size: cover;
    height: 100px;
    color:white;
}
.main h3 {
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 900;
}
.main  p{
     padding: 0px 30px;

}
.text p{
     padding: 10px 30px;
     margin: 30px 40px;

}
.chrome{
    display: flex;
    justify-content: space-between;
    align-items: center;
      padding: 10px 30px;
     margin: 30px 40px;
}