*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: greenyellow;
}
.container{
    width: 800px;
    height: 100vh;
    background-color: white;
    margin: 0 auto;

}
.text h4{
    margin-top: 50px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
